@model IEnumerable<FamilyTreeBackend.Core.Application.Operation.Models.WebAccessUserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <form asp-controller="User" asp-action="Index" method="get">
        <p>
            Username or email: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
        </p>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink(item.Status ? "Enabled" : "Disabled", "Toggle", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
