@model FamilyTreeBackend.Core.Application.Operation.Models.RequestResponseLogDetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RequestResponseLogDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestSchema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestSchema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestHost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestBody)
        </dt>
        <dd class = "col-sm-10">
            <pre>
                @Html.Raw(Model.RequestBody)
            </pre>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseBody)
        </dt>
        <dd class = "col-sm-10">
            <pre>
                @Html.Raw(Model.ResponseBody)
            </pre>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
